<!DOCTYPE html>
<html lang="ru">
<head style="font-family: arial">
    <meta charset="UTF-8">
    <title>SmartScan</title>
    <style>
       body{
        background-color: RGB(182, 182, 182); /* Цвет фона веб-страницы */
       }
    </style>
</head>

<body style="font-family: arial">
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left;">
        <h2>Редактирование параметров конфигурации</h2>
        <form method="POST">
            <br>
            <br>
            <label>IP: {{host_ip}}</label><br>
            <input name="host_ip" size="15">
            <br>
            <br>
            <label>Порт HTTP-сервера: {{host_port}}</label><br>
            <input name="http_port" size="7">
            <br>
            <br>
            <label>Модель: {{model}}</label><br>
            <input name="model" size="12">
            <br>
            <br>
            <label>Версия прошивки: {{firmware}}</label><br>
            <input name="firmware" size="12">
            <br>
            <br>
            <label>Серий номер: {{serial}}</label><br>
            <input name="serial" size="12">
            <br>
            <br>
            <label>Таймаут тревоги: {{wait_time}}</label><br>
            <input name="wait_time" size="7">
            <br>
            <br>
            <label>Пароль для сохранения настроек</label><br>
            <input type="password" name="master_pass" size="7">
            <br>
            <br>
            <input type="submit"
                   title="submit"
                   value="Сохранить настройки"
                   style="height:60px;width:180px">
        </form>
        <h5>Значения пустых полей останутся без изменений</h5>
            <p align="left">
                <a href=/ >
                <button class=grey style="height:50px;width:80px">< Назад</button>
                </a>
            </p>
        </div>
    </div>
</body>
</html>