<!DOCTYPE html>
<html lang="ru">
<head style="font-family: arial">
    <meta charset="UTF-8">
    <title>SmartScan</title>
    <style>
       body{
        background-color: RGB(182, 182, 182); /* Цвет фона веб-страницы */
       }
    </style>
</head>
<body style="font-family: arial">
    <div align="left">
        <h1>SmartScan {{model}}</h1>
        <h2>S/N: {{serial}}</h2>
        <h2>ПО ver{{firmware}}</h2>
        <br>
        <h2>Включен:</h2>
        <h2>{{boot_time}}</h2>
        <h2>Время работы:</h2>
        {% if days == 0 %}
            <h2>0 (дней), {{time}}</h2>
        {% else %}
            <h2>{{days}} (дней), {{time}}</h2>
        {% endif %}
        <button onclick="window.location.reload();">Обновить</button>
        <br>
    </div>
    <br>
    <h2>Время таймаута тревоги {{wait_time}} сек.</h2>
    <h2>Изменить:</h2>
    <form method="POST">
        <input name="text" placeholder="Cекунды" size="7">
        <input type="submit" title="submit" value="Сохранить">
    </form>
</body>
</html>